.grid>div>div {
    width: 2rem; 
    height: 2rem; 
    border: 1px solid gray; 

}

.grid {
    display: flex;

}

.container {
    display: flex;
    justify-content: center;
}

.inputs {
    display: flex;
    align-items: center;
}